

@media screen and (max-width: 768px) {
  main {
    width: 95%;
    padding: 10px;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 15px;
  }

  #tagline {
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
  }

  #image {
    width: 100%;
    height: auto;
  }

  ul {
    margin-left: 20px;
    padding: 8px;
  }

  ol {
    margin-left: 10px;
    font-size: 0.9rem;
  }

  blockquote {
    padding: 10px;
    font-size: 0.9rem;
  }

  footer {
    font-size: 0.9rem;
    padding: 8px 0;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.8rem;
  }

  #tagline {
    font-size: 0.9rem;
  }

  ul, ol {
    margin-left: 5px;
    padding: 5px;
  }

  #tribute-info {
    padding: 15px;
    font-size: 0.9rem;
  }

  blockquote {
    padding: 8px;
    margin-top: 15px;
    font-size: 0.8rem;
  }
}
